.elementor-66
    .elementor-element.elementor-element-3920953:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-66
    .elementor-element.elementor-element-3920953
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #eef7ff;
}
.elementor-66 .elementor-element.elementor-element-3920953 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-3920953
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-c265e40
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-c265e40
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-7bae257 {
    padding: 150px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-e9cfcd3
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-e9cfcd3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 20px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-1a3595b {
    text-align: left;
}
.elementor-66 .elementor-element.elementor-element-1a3595b img {
    border-radius: 5px 5px 5px 5px;
}
.elementor-66
    .elementor-element.elementor-element-b536627
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
    padding: 0px 7px 20px 0px;
}
.elementor-66 .elementor-element.elementor-element-b536627 {
    width: 412px;
    max-width: 412px;
}
.elementor-66
    .elementor-element.elementor-element-e0c8589
    > .elementor-widget-container {
    margin: 7px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-e0c8589 {
    width: 412px;
    max-width: 412px;
}
.elementor-66
    .elementor-element.elementor-element-f07c88c
    > .elementor-element-populated {
    text-align: left;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-f07c88c
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 10px 0px 10px;
}
.elementor-66 .elementor-element.elementor-element-6d90c76 {
    text-align: center;
}
.elementor-66
    .elementor-element.elementor-element-6d90c76
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}
.elementor-66
    .elementor-element.elementor-element-52e5e3a
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-8cd76a5
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-064b29a
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-28b8d56
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-db5f20b
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-9996c67
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-cb70f43
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-3671d65
    > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-3671d65
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-3671d65
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 20px;
}
.elementor-66 .elementor-element.elementor-element-2bf8ea9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 152px 0px 142px 0px;
}
.elementor-66
    .elementor-element.elementor-element-c9b0652
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-c9b0652
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 35px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-5455202
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 55px 0px;
}
.elementor-66
    .elementor-element.elementor-element-74f9cb2
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-74f9cb2
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 35px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-6503980
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 55px 0px;
}
.elementor-66
    .elementor-element.elementor-element-3503ed1
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-3503ed1
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 35px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-d95a423
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 55px 0px;
}
.elementor-66 .elementor-element.elementor-element-4ad55fb {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 0%;
}
.elementor-bc-flex-widget
    .elementor-66
    .elementor-element.elementor-element-51b93dd.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-51b93dd.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-51b93dd.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-66
    .elementor-element.elementor-element-51b93dd:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
.elementor-66
    .elementor-element.elementor-element-51b93dd
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #eef7ff;
}
.elementor-66
    .elementor-element.elementor-element-51b93dd
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-51b93dd
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-51b93dd
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 17% 15% 18% 26%;
}
.elementor-66
    .elementor-element.elementor-element-fda0aaa
    > .elementor-widget-container {
    margin: 0% 0% -3% 0%;
    padding: 0% 0% 0% 0%;
}
.elementor-66 .elementor-element.elementor-element-64819f4 {
    color: #83b3c0;
    font-family: "Catamaran", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.elementor-66
    .elementor-element.elementor-element-64819f4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 3% 0% 8% 0%;
    background-image: url("../../2020/11/h1-signature-img.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}
.elementor-bc-flex-widget
    .elementor-66
    .elementor-element.elementor-element-eb9d5fe.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-eb9d5fe.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-eb9d5fe.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-66
    .elementor-element.elementor-element-eb9d5fe:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
.elementor-66
    .elementor-element.elementor-element-eb9d5fe
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2020/11/h1-img-3-1.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-66
    .elementor-element.elementor-element-eb9d5fe
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
}
.elementor-66
    .elementor-element.elementor-element-eb9d5fe
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-eb9d5fe
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0% 0% 0% 0%;
}
.elementor-66
    .elementor-element.elementor-element-31391f0
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-31391f0 {
    width: auto;
    max-width: auto;
}
.elementor-66 .elementor-element.elementor-element-9669f4a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 140px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-00b98db
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-00b98db
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-64c5500 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 140px 0px;
}
.elementor-66
    .elementor-element.elementor-element-07e02b7
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-66
    .elementor-element.elementor-element-07e02b7
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-07e02b7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-6ea7da7:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-66
    .elementor-element.elementor-element-6ea7da7
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #143451;
}
.elementor-66 .elementor-element.elementor-element-6ea7da7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 70px 0px 70px 0px;
}
.elementor-66
    .elementor-element.elementor-element-6ea7da7
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-025d09c
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-025d09c
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-9cc106a:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-66
    .elementor-element.elementor-element-9cc106a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #eef7ff;
}
.elementor-66 .elementor-element.elementor-element-9cc106a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 120px 0px 124px 0px;
}
.elementor-66
    .elementor-element.elementor-element-9cc106a
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-e0e020a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-e0e020a
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-c3ce4f7
    > .elementor-widget-container {
    border-radius: 5px 5px 5px 5px;
}
.elementor-66 .elementor-element.elementor-element-9672de6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 140px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-34e352f.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-66
    .elementor-element.elementor-element-34e352f
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-34e352f
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-c6537f4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-c6537f4 {
    width: 65%;
    max-width: 65%;
}
.elementor-66 .elementor-element.elementor-element-9a4a02d {
    padding: 70px 0px 145px 0px;
}
.elementor-66
    .elementor-element.elementor-element-8ca13f6
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-8ca13f6
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-c511f44 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 0%;
}
.elementor-66
    .elementor-element.elementor-element-c511f44
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-66
    .elementor-element.elementor-element-1d737bc.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-1d737bc.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-1d737bc:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
.elementor-66
    .elementor-element.elementor-element-1d737bc
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2020/11/h1-img-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-66
    .elementor-element.elementor-element-1d737bc
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
}
.elementor-66
    .elementor-element.elementor-element-1d737bc
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-1d737bc
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0% 0% 0% 0%;
}
.elementor-66
    .elementor-element.elementor-element-237a21f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-66
    .elementor-element.elementor-element-74db975.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-74db975.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-66
    .elementor-element.elementor-element-74db975.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-66
    .elementor-element.elementor-element-74db975:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-column-wrap,
.elementor-66
    .elementor-element.elementor-element-74db975
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #eef7ff;
}
.elementor-66
    .elementor-element.elementor-element-74db975
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-74db975
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-74db975
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 15.5% 17% 15.5% 9.5%;
}
.elementor-66
    .elementor-element.elementor-element-a3f2cd9
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 4%;
}
.elementor-66
    .elementor-element.elementor-element-17e5d58
    > .elementor-widget-container {
    margin: 0% 0% 0% 0%;
    padding: 3% 0% 0% 4%;
}
.elementor-66
    .elementor-element.elementor-element-cf278ba
    > .elementor-container
    > .elementor-row
    > .elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-66 .elementor-element.elementor-element-cf278ba {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 140px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-d40727b
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-d40727b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66 .elementor-element.elementor-element-96fa7be {
    padding: 62px 0px 145px 0px;
}
.elementor-66
    .elementor-element.elementor-element-2b4e682
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-2b4e682
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-66
    .elementor-element.elementor-element-fa3e0c1:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-66
    .elementor-element.elementor-element-fa3e0c1
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #eef7ff;
}
.elementor-66 .elementor-element.elementor-element-fa3e0c1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 65px 0px 35px 0px;
}
.elementor-66
    .elementor-element.elementor-element-fa3e0c1
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-66
    .elementor-element.elementor-element-190673f
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-66
    .elementor-element.elementor-element-190673f
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 10px 0px 10px;
}
@media (min-width: 768px) {
    .elementor-66 .elementor-element.elementor-element-51b93dd {
        width: 47%;
    }
    .elementor-66 .elementor-element.elementor-element-eb9d5fe {
        width: 53%;
    }
    .elementor-66 .elementor-element.elementor-element-1d737bc {
        width: 52.901%;
    }
    .elementor-66 .elementor-element.elementor-element-74db975 {
        width: 47.052%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-66 .elementor-element.elementor-element-e9cfcd3 {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-f07c88c {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-3671d65 {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-c9b0652 {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-74f9cb2 {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-3503ed1 {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-51b93dd {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-eb9d5fe {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-1d737bc {
        width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-74db975 {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .elementor-66
        .elementor-element.elementor-element-e9cfcd3
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 80px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-b536627 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-f07c88c
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-f07c88c
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 80px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-element-populated,
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-element-populated
        > .elementor-background-overlay,
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-background-slideshow {
        border-radius: 0% 0% 0% 0%;
    }
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-2bf8ea9 {
        padding: 150px 0px 125px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-c9b0652
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-c9b0652
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 45px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-5455202
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 12px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-5455202 {
        width: 50%;
        max-width: 50%;
    }
    .elementor-66
        .elementor-element.elementor-element-478d777
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 12px;
    }
    .elementor-66 .elementor-element.elementor-element-478d777 {
        width: 50%;
        max-width: 50%;
    }
    .elementor-66
        .elementor-element.elementor-element-74f9cb2
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-74f9cb2
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 45px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-6503980
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 12px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-6503980 {
        width: 50%;
        max-width: 50%;
    }
    .elementor-66
        .elementor-element.elementor-element-5bb203d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 12px;
    }
    .elementor-66 .elementor-element.elementor-element-5bb203d {
        width: 50%;
        max-width: 50%;
    }
    .elementor-66
        .elementor-element.elementor-element-3503ed1
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-d95a423
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 12px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-d95a423 {
        width: 50%;
        max-width: 50%;
    }
    .elementor-66
        .elementor-element.elementor-element-697d8ac
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 12px;
    }
    .elementor-66 .elementor-element.elementor-element-697d8ac {
        width: 50%;
        max-width: 50%;
    }
    .elementor-66 .elementor-element.elementor-element-4ad55fb {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-51b93dd
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-51b93dd
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 142px 52px 120px 52px;
    }
    .elementor-66
        .elementor-element.elementor-element-64819f4
        > .elementor-widget-container {
        padding: 0% 0% 9% 0%;
    }
    .elementor-66
        .elementor-element.elementor-element-eb9d5fe
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 27% 0% 27% 0%;
    }
    .elementor-66 .elementor-element.elementor-element-9669f4a {
        padding: 142px 0px 0px 0px;
    }
    .elementor-bc-flex-widget
        .elementor-66
        .elementor-element.elementor-element-00b98db.elementor-column
        .elementor-column-wrap {
        align-items: center;
    }
    .elementor-66
        .elementor-element.elementor-element-00b98db.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-column-wrap.elementor-element-populated
        > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-66
        .elementor-element.elementor-element-00b98db.elementor-column
        > .elementor-column-wrap
        > .elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-66 .elementor-element.elementor-element-0518ff2 {
        width: 82%;
        max-width: 82%;
    }
    .elementor-66 .elementor-element.elementor-element-64c5500 {
        padding: 0px 0px 143px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-9cc106a {
        padding: 128px 0px 143px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-9672de6 {
        padding: 140px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-c6537f4 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-1d737bc
        > .elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }
    .elementor-66
        .elementor-element.elementor-element-1d737bc
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 23% 0% 23% 0%;
    }
    .elementor-66
        .elementor-element.elementor-element-74db975
        > .elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }
    .elementor-66
        .elementor-element.elementor-element-74db975
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 70px 0px 140px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-74db975 {
        z-index: 1;
    }
    .elementor-66
        .elementor-element.elementor-element-a3f2cd9
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 5% 0% 0% 12%;
    }
    .elementor-66
        .elementor-element.elementor-element-17e5d58
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 12% 0% 12%;
    }
    .elementor-bc-flex-widget
        .elementor-66
        .elementor-element.elementor-element-d40727b.elementor-column
        .elementor-column-wrap {
        align-items: center;
    }
    .elementor-66
        .elementor-element.elementor-element-d40727b.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-column-wrap.elementor-element-populated
        > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-66
        .elementor-element.elementor-element-d40727b.elementor-column
        > .elementor-column-wrap
        > .elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-66 .elementor-element.elementor-element-1784d8d {
        width: 82%;
        max-width: 82%;
    }
    .elementor-66 .elementor-element.elementor-element-96fa7be {
        padding: 62px 0px 142px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-66
        .elementor-element.elementor-element-e9cfcd3
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-e9cfcd3
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 70px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-f07c88c
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-f07c88c
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 77px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-3671d65
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-2bf8ea9 {
        padding: 150px 0px 143px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-c9b0652
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-c9b0652
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-5455202
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-5455202 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-478d777
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-478d777 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-74f9cb2
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-74f9cb2
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-6503980
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-6503980 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-5bb203d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-5bb203d {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-3503ed1
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-3503ed1
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-d95a423
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-d95a423 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-697d8ac
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-697d8ac {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-4ad55fb {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-51b93dd
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 142px 35px 120px 35px;
    }
    .elementor-66
        .elementor-element.elementor-element-64819f4
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 37px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-9669f4a {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 140px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-00b98db
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-00b98db
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 35px 0px 35px;
    }
    .elementor-66 .elementor-element.elementor-element-0518ff2 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-9cc106a {
        padding: 128px 0px 142px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-9672de6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-34e352f
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-34e352f
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-c6537f4 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66
        .elementor-element.elementor-element-1d737bc
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0% 0% 35% 0%;
    }
    .elementor-66
        .elementor-element.elementor-element-74db975
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 35px 140px 35px;
    }
    .elementor-66
        .elementor-element.elementor-element-a3f2cd9
        > .elementor-widget-container {
        padding: 50px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-17e5d58
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-d40727b
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-66
        .elementor-element.elementor-element-d40727b
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 35px 0px 35px;
    }
    .elementor-66 .elementor-element.elementor-element-1784d8d {
        width: 100%;
        max-width: 100%;
    }
    .elementor-66 .elementor-element.elementor-element-96fa7be {
        padding: 60px 0px 120px 0px;
    }
    .elementor-66 .elementor-element.elementor-element-fa3e0c1 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 135px 0px 120px 0px;
    }
}
