.elementor-4966
    .elementor-element.elementor-element-7a60841:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-4966
    .elementor-element.elementor-element-7a60841
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #e3effb;
}
.elementor-4966 .elementor-element.elementor-element-7a60841 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-7a60841
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-01e9965
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-01e9965
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-01e9965
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-7c61780 {
    color: #1e2e85;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 35em;
    letter-spacing: -0.2px;
}
.elementor-4966
    .elementor-element.elementor-element-e38f1eb:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-4966
    .elementor-element.elementor-element-e38f1eb
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2020/11/landing-bg-img1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-4966 .elementor-element.elementor-element-e38f1eb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 130px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-e38f1eb
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966 .elementor-element.elementor-element-795cbf5 {
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-6dfb170
    > .elementor-element-populated {
    text-align: center;
}
.elementor-4966
    .elementor-element.elementor-element-6dfb170
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0% 0% 0% 0%;
}
.elementor-4966 .elementor-element.elementor-element-31981f1 {
    padding: 2.5% 0% 0% 0%;
}
.elementor-4966
    .elementor-element.elementor-element-3d5b0ea
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-3d5b0ea
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 25px;
}
.elementor-4966 .elementor-element.elementor-element-cffaad5 {
    text-align: left;
}
.elementor-bc-flex-widget
    .elementor-4966
    .elementor-element.elementor-element-e4b9fbd.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-4966
    .elementor-element.elementor-element-e4b9fbd.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-4966
    .elementor-element.elementor-element-e4b9fbd
    > .elementor-element-populated {
    text-align: right;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-e4b9fbd
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 25px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-2c041e1 {
    padding: 37px 0px 0px 0px;
}
.elementor-bc-flex-widget
    .elementor-4966
    .elementor-element.elementor-element-b7e44fe.elementor-column
    .elementor-column-wrap {
    align-items: center;
}
.elementor-4966
    .elementor-element.elementor-element-b7e44fe.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-column-wrap.elementor-element-populated
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-4966
    .elementor-element.elementor-element-b7e44fe.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-4966
    .elementor-element.elementor-element-b7e44fe
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-b7e44fe
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-6d88de0 {
    width: 760px;
    max-width: 760px;
}
.elementor-4966 .elementor-element.elementor-element-d9a4208 {
    padding: 0% 5% 0% 5%;
}
.elementor-4966
    .elementor-element.elementor-element-90cf0d9
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-90cf0d9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30% 8% 0% 0%;
}
.elementor-4966
    .elementor-element.elementor-element-9177896
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-1badc06
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-1badc06
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 13% 4% 0% 4%;
}
.elementor-4966
    .elementor-element.elementor-element-7604ade
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-105ba2b
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-105ba2b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 30% 0% 0% 8%;
}
.elementor-4966
    .elementor-element.elementor-element-d8f65ad
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-5bf836ad:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-4966
    .elementor-element.elementor-element-5bf836ad
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #143451;
}
.elementor-4966 .elementor-element.elementor-element-5bf836ad {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 72px 0px 72px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-5bf836ad
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-1cb1f534
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-1cb1f534
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-0dc3d95 {
    padding: 150px 0px 144px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-2c1c4f9
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-2c1c4f9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-d673737
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-ba48613
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-ba48613
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 11px 0px 10px;
}
.elementor-4966
    .elementor-element.elementor-element-ea03551
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-c1c0b6a
    > .elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-c1c0b6a
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 10px 0px 11px;
}
.elementor-4966
    .elementor-element.elementor-element-9c9ea84
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-a99453a
    > .elementor-element-populated {
    text-align: center;
}
.elementor-4966
    .elementor-element.elementor-element-a99453a
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 15px;
}
.elementor-4966
    .elementor-element.elementor-element-5dbf7b1
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-054f416 {
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-7d826f3
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-7d826f3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-0ba971f {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 138px 0px 145px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-8aeb444
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-8aeb444
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-2689fe5
    > .elementor-widget-container {
    padding: 17px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-6bb4026 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-6bb4026
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-393c3b9
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-393c3b9
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-ed42203 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-d1d5fbc
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-d1d5fbc
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-1fbfbd1
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-1fbfbd1
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
.elementor-4966
    .elementor-element.elementor-element-e4d9abb
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-e4d9abb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 23px;
}
.elementor-4966
    .elementor-element.elementor-element-1cbb93c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-4966 .elementor-element.elementor-element-1cbb93c {
    z-index: 1;
}
.elementor-4966
    .elementor-element.elementor-element-08f586a:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-4966
    .elementor-element.elementor-element-08f586a
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2020/11/landing-rev-bottom-bg-img.jpg");
    background-size: cover;
}
.elementor-4966 .elementor-element.elementor-element-08f586a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: -6.5em;
    margin-bottom: 0em;
    padding: 0% 0% 0% 0%;
}
.elementor-4966
    .elementor-element.elementor-element-08f586a
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-62fd35b
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-4966
    .elementor-element.elementor-element-62fd35b
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4966
    .elementor-element.elementor-element-62fd35b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-4966 .elementor-element.elementor-element-2c1c4f9 {
        width: 50%;
    }
    .elementor-4966 .elementor-element.elementor-element-ba48613 {
        width: 50%;
    }
    .elementor-4966 .elementor-element.elementor-element-c1c0b6a {
        width: 50%;
    }
    .elementor-4966 .elementor-element.elementor-element-a99453a {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    .elementor-4966 .elementor-element.elementor-element-31981f1 {
        padding: 30px 20px 0px 20px;
    }
    .elementor-4966
        .elementor-element.elementor-element-90cf0d9
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 58% 8% 0% 0%;
    }
    .elementor-4966
        .elementor-element.elementor-element-1badc06
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 25% 4% 0% 4%;
    }
    .elementor-4966
        .elementor-element.elementor-element-105ba2b
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 58% 0% 0% 8%;
    }
    .elementor-4966
        .elementor-element.elementor-element-2c1c4f9
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 13px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-ba48613
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 13px;
    }
    .elementor-4966
        .elementor-element.elementor-element-c1c0b6a
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 13px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-a99453a
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 0px 0px 13px;
    }
    .elementor-4966
        .elementor-element.elementor-element-e4d9abb
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-e4d9abb
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-08f586a {
        margin-top: -6.5em;
        margin-bottom: 0em;
        padding: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-4966
        .elementor-element.elementor-element-6dfb170
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-6dfb170
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-31981f1 {
        padding: 10% 6% 0% 6%;
    }
    .elementor-4966 .elementor-element.elementor-element-3d5b0ea {
        width: 35%;
    }
    .elementor-4966
        .elementor-element.elementor-element-3d5b0ea
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-e4b9fbd {
        width: 65%;
    }
    .elementor-4966
        .elementor-element.elementor-element-e4b9fbd
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-e4b9fbd
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-22c72a1
        > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-2c041e1 {
        padding: 45px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-6d88de0
        > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-d9a4208 {
        padding: 0% 6% 0% 6%;
    }
    .elementor-4966
        .elementor-element.elementor-element-90cf0d9
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-90cf0d9
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 70px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-1badc06
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-1badc06
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-105ba2b
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-105ba2b
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-2c1c4f9
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-2c1c4f9
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-ba48613
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-ba48613
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-c1c0b6a
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-c1c0b6a
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-a99453a
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-0ba971f {
        padding: 138px 0px 145px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-ed42203 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-24debd5 {
        margin-top: -10%;
        margin-bottom: 0%;
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-e4d9abb
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4966
        .elementor-element.elementor-element-e4d9abb
        > .elementor-element-populated
        > .elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
    .elementor-4966 .elementor-element.elementor-element-1cbb93c {
        text-align: right;
    }
}
